cycler==0.11.0
Cython==0.29.35
eigen==0.0.1
eigency==3.4.0.0
exceptiongroup==1.1.1
iniconfig==2.0.0
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.3.4
numpy==1.24.3
packaging==23.1
pandas==2.0.2
Pillow==9.5.0
pluggy==1.0.0
pybind11==2.10.4
pybullet==3.2.5
pyparsing==3.0.9
pytest==7.3.2
python-dateutil==2.8.2
pytz==2023.3
scikit-learn==1.2.2
scipy==1.8.1
six==1.16.0
sklearn==0.0.post5
threadpoolctl==3.1.0
tomli==2.0.1
torch==1.10.2
tqdm==4.65.0
typing_extensions==4.6.2
tzdata==2023.3
xgboost==1.7.5
