<?xml version="1.0"?>
<robot name="box">
  <link name="base">
    <contact>
      <friction_anchor/>
      <lateral_friction value="0.5"/>
      <rolling_friction value="0.0"/>
    </contact>
    <visual>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
      <origin xyz="-1 -1 0.5"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
      <origin xyz="-1 -1 0.5"/>
    </collision>
    <inertial>
      <origin xyz="-1 -1 0.5"/>
      <mass value="2500"/>
      <inertia ixx="2500" ixy="0.0" ixz="0.0" iyy="2500" iyz="0" izz="2500"/>
    </inertial>
  </link>
</robot>
